.Patient-container {
  width: 100%;
  display: flex;
  gap: 4rem;
}

.Patient-sidebar {
  flex: 0 0 20%;
  padding: 16px;
  height: 100vh;
}
.Patient-body {
  flex: 0 0 50%;
}
.Patient-appointmentContainer {
  display: flex;
  align-items: center;
}

.Patient-appointment {
  padding: 16px;
  background: #747bff;
  border: 1px solid #747bff;
  margin: 4px;
}
