.LoginFormBase-container {
  border: 1px solid #000;
  padding: 40px;
  border-radius: 8px;
  width: 400px;
}
.LoginFormBase-form {
  display: flex;
  flex-direction: column;
}

.LoginFormBase-btn {
  background: #000;
  color: white;
}
